
*{
  margin: 0;
  padding: 0;
}
/* .bigContainer{
  background: url('./images/img1.png');
  
} */
button{
  margin: 0 10px;
}
.logoImg{
  width: 70px;
  height: 70px;
}
.navbar{
  padding: 0;
  
}
.container-fluid{
  background: #4d382f;
  font-family: Agbalumo;
}

.heading{
  background: url('./images/img1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  font-family: Agbalumo;
 
}
.title{
  color: white;
  width: 500px;
  margin-left: 80px;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-family: Agbalumo;
}
#firstbtn{
  width: 150px;
  height: 60px;
  font-size: 28px;
  border-radius: 20px;
}
h1{
  font-size: 70px;
  
}
.subtitle{
  color: rgb(110, 2, 2);
}
.signupContainer{
  width: 100%;
  height: 650px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./images/img2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
input[type=text],[type=email],[type=password]{
  background-color: transparent;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  color: white;
}

.miniSignupContainer{
    height: 450px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 5px 1.2px black;
    
}
.signUpheader{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutTitle{
  font-size: 100px;
  margin: 160px;
}
.errorContainer{
  border: 2px solid blue;
  background-color: rgba(255, 255, 255, 0.212);
  padding: 50px;
  border-radius: 20px;
}
.errorTitle{
  color: white;
}
.errorMessage{
  color: white;
}
.secondContainer,.thirdContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-family: Agbalumo;
}


.about{
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1.2px rgb(207, 206, 206);
  margin: 0 30px;
}
.about2{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1.2px rgb(207, 206, 206);
  margin: 0 30px;
}
.aboutText{
  width: 45%;
  height: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 70px;
}

.aboutTitle2,.additionalInfoTitle{
  font-size: 50px;
  color: rgb(145, 87, 11);
}
.additionalInfoTitle{
  padding-top: 150px;
}
.additionalInfoP{
  width: 700px;
  text-align: center;
  margin-bottom: 160px;
}
p{
  font-size: 20px;
  color: rgb(77, 74, 74);
}
strong{
  color: green;
}
.aboutImg{
  background: url('./images/Create\ content.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 56%;
  height: 100%;
}
.aboutImg2{
  background: url('./images/del2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.add{
  font-size: 100px;
  width: 100px;
  margin: 100px 50px;
  color: rgb(11, 145, 11);
}
footer{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer1{
  height: 130px;
  color: white;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
.footer11{
  width: 400px;
  margin-right: 100px;
}
.icon-footer{
 background-color: white;
 width: 30px;
 height: 30px;
 align-items: center;

}
.footer2{
  background-color: black;
  color: white;
  text-align: center;
  height: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.footername{
  color: white;
}
.copyright{
  width: 10px;
  height: 10px;
  background-color: white;
  margin-right: 6px;
}
footer{
  background-color: black;
  padding: 0 50px;
}
.navRest,.navExp{
  font-size: 25px;
  color: white;
  margin: 15px;
}
.navRest:hover,.navExp:hover{
  color: green;
}

a{
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-weight: bold;
}
i{
  margin: 10px;
}
.homeLi:hover{
  background-color: rgba(121, 240, 121, 0.651);
}
.homeLi:active{
  background-color: rgba(1, 65, 1, 0.822);
  color: black;
}
.restContainer{
  margin-top: 100px;
}
.restMiniContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restCardContainer{
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  width: 380px;
  height: 280px;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}
.restTitle{
  font-size: 50px;
  font-family: Agbalumo;
  margin-bottom: 30px;
}
.restHeader{
  margin-left: 50px;
  margin-bottom: 30px;
}
.restImg{
  width: 100%;
  height: 220px;
  border-radius: 20px;
}
h4{
  padding: 10px;
}

.restaurantImgDiv{
  width: 100%;
  height: 350px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url('./images/img5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:  white;
  display: flex;
  align-items: end;
  justify-content: space-between
}
.selectedRestName{
  font-family: Agbalumo;
  margin-left: 40px;
  margin-bottom: 40px;
}
.reastaurantMenuDiv h2{
  margin-left: 20px;
}
.restaurantInfoDiv{
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reastaurantMenu{
  color: black;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
li{
  display: flex;
  margin: 0 20px;
  transition: none;
}
.advertising{
  display: flex;
}
.advertising1,.advertising2{
  width: 50%;
  height: 70px;
  background-color: 
  #e8f4f9;
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  margin: 20px;
  font-weight: bold;
  padding: 10px;
  color: #009de0;
  font-size: 20px;
}
.menuFoodBox{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
 
}
.menuFood{
  display: flex;
  flex-wrap: wrap;
  color: #fbfbfb ;
}
.menuFoodCard{
  width: 400px;
  height: 150px;
  padding: 10px;
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  margin: 10px;
  cursor: pointer;
  display: flex;
  font-weight: bold;
}
input[type="number"] {
  width: 50px; 
  padding: 2px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  font-size: 16px;
}


input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);}

  form{
    color: black;
  }
  label{
    margin-right: 5px;
  }

  .foodSmallImg{
    width: 130px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .quantitebtn{
    background-color: #009de0;
    border: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    font-size: 15px;
  }
  .checkoutContainer{
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .checkoutDiv{
    width: 90%;
    box-shadow: 0 0 2px 0.1px rgb(95, 92, 92);
    display: flex;
    justify-content: center;
  }
 .checkoutDetails{
  width: 70%;
 }
 .ordersTitle{
  padding: 20px;
 }
 .checkoutOrder{
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  padding: 20px;
  width: 30%;
 }
 .itemSubtotal,.deliveryFee,.totalSum{
  display: flex;
  justify-content: space-between;
 }
 .submitBtn{
  width: 90%;
  background-color: #009de0;
  border-radius: 10px;
  padding: 20px;
  color: white;
  border: none;
 }

 .orderCard{
  width: 95%;
  height: 150px;
  padding: 10px;
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  margin: 10px;
  cursor: pointer;
  display: flex;
  font-weight: bold;
 }
 .orderDetail{
  width: 80%;
  padding: 20px 50px;

 }
 .orderSmallImg{
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
 }
 .price{
  color: #007bff;
 }
 .detail{
  display: flex;
  justify-content: space-between;
 }
 .cardImg{
  width: 70px;
  height: 65px;
  margin: 20px;
 }
 .cardImgContainer{
  position: relative;
 }
 .numberOfOrder{
  border: 2px solid rgb(0, 255, 21);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  font-weight: bold;
  color: rgb(221, 228, 221);
  font-size: 40px;
  position: absolute;
  top: -2px;
  margin-left: 25px;
  background-color: rgba(21, 255, 0, 0.555);
 }
 .priceDiv{
  display: flex;
  justify-content: space-between;
 }
.totalPrice{
  color: #007bff;
  font-size: 20px;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

input, button{
  padding: 10px;
  background-color: #edeff0;
  border-radius: 5px;
  font-size: 20px;
  
}
.submitInput{
  background-color: 
  #fafafa;
  outline: none;
  border: none;
  padding: 12px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}
.search{
  width: 400px;
  font-size: 1.5em;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 2px solid gray;
  border-radius: 0.35em 0 0 0.35em;
}
i{
  color: white;
}
.navbarContainer{
  position: sticky;
  top: 0;
}
.searchContainerCon{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchContainer{
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.685);
  overflow: auto;
  height: 400px;
  border-radius: 20px;
}
.searchoption{
    width: 400px;
    height: 100px;
    padding: 10px;
    box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
    margin: 10px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    background-color: white;
   }
   .fa-utensils,.fa-globe{
    color: black;
   }
   @media (min-width: 1201px){

   }
   @media (min-width: 1025px) and (max-width:1200px ){
    .search{
      width: 200px;
    }
    .navExp,.navRest{
      font-size: 25px;
      margin: 0;
    }
   }
   @media (min-width: 769px) and (max-width:1024px ){
    .search{
      width: 100px;
    }
    .navExp,.navRest{
      font-size: 25px;
      margin: 0;
    }
   }
   @media (min-width: 481px) and (max-width:768px ){
    .btn-success{
      padding: 0px 2px;
      font-size: 12px;
    }
    .aboutTitle2,.additionalInfoTitle{
      font-size: 30px;
      color: rgb(145, 87, 11);
    }
    .navExp,.navRest{
      font-size: 15px;
      margin: 0;
    }
    .search{
      width: 30px;
      font-size: 10px;
    }

   }
   @media (min-width: 320px) and (max-width:480px ){
    .btn-success{
      padding: 0;
      font-size: 12px;
    }
    .navExp,.navRest{
      font-size: 10px;
      margin: 0;
    }
    .search{
      width: 1px;
    }
    .aboutTitle2,.additionalInfoTitle{
      font-size: 20px;
      color: rgb(145, 87, 11);
    }
    }
    .profilDiv{
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.274);
      border-radius: 20px;
      padding: 5px 10px;
    }
    .fa-user{
      font-size: 30px;
    }
    h7{
      color: white;
    }
    .fa-trash{
      color: gray;
      font-size: 20px;
    }
   .fa-utensils,.fa-globe{
    color: white;
   }