.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;

}
button{
  margin: 0 10px;
}
.logoImg{
  width: 70px;
  height: 70px;
}
.navbar{
  padding: 0;
  
}
.container-fluid{
  background: #4d382f;
  font-family: Agbalumo;
}

.heading{
  background: url('./images/img1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  font-family: Agbalumo;
}
.title{
  color: white;
  width: 500px;
  margin-left: 80px;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-family: Agbalumo;
}
#firstbtn{
  width: 150px;
  height: 60px;
  font-size: 28px;
  border-radius: 20px;
}
h1{
  font-size: 70px;
  
}
.subtitle{
  color: rgb(110, 2, 2);
}
.signupContainer{
  width: 100%;
  height: 650px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./images/img2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
input[type=text],[type=email],[type=password]{
  background-color: transparent;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  color: white;
}

.miniSignupContainer{
    height: 450px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 5px 1.2px black;
    
}
.signUpheader{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutTitle{
  font-size: 100px;
  margin: 160px;
}
.errorContainer{
  border: 2px solid blue;
  background-color: rgba(255, 255, 255, 0.212);
  padding: 50px;
  border-radius: 20px;
}
.errorTitle{
  color: white;
}
.errorMessage{
  color: white;
}
.secondContainer,.thirdContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-family: Agbalumo;
}


.about{
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1.2px rgb(207, 206, 206);
  margin: 0 30px;
}
.about2{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1.2px rgb(207, 206, 206);
  margin: 0 30px;
}
.aboutText{
  width: 45%;
  height: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 70px;
}

.aboutTitle2,.additionalInfoTitle{
  font-size: 50px;
  color: rgb(145, 87, 11);
}
.additionalInfoTitle{
  padding-top: 150px;
}
.additionalInfoP{
  width: 700px;
  text-align: center;
  margin-bottom: 160px;
}
p{
  font-size: 20px;
  color: rgb(77, 74, 74);
}
strong{
  color: green;
}
.aboutImg{
  background: url('./images/Create\ content.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 56%;
  height: 100%;
}
.aboutImg2{
  background: url('./images/del2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.add{
  font-size: 100px;
  width: 100px;
  margin: 100px 50px;
  color: rgb(11, 145, 11);
}
footer{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer1{
  height: 130px;
  color: white;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
.footer11{
  width: 400px;
  margin-right: 100px;
}
.icon-footer{
 background-color: white;
 width: 30px;
 height: 30px;
 align-items: center;

}
.footer2{
  background-color: black;
  color: white;
  text-align: center;
  height: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.footername{
  color: white;
}
.copyright{
  width: 10px;
  height: 10px;
  background-color: white;
  margin-right: 6px;
}
footer{
  background-color: black;
  padding: 0 50px;
}
.homeUl{
  display: flex;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeLi{
  list-style-type: none;
  margin: 10px;
  width: 250px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  border-radius: 20px;
  
}
a{
  text-decoration: none;
  color: rgb(10, 10, 10);
  
}
.homeLi:hover{
  background-color: rgba(121, 240, 121, 0.651);
}
.homeLi:active{
  background-color: rgba(1, 65, 1, 0.822);
  color: black;
}
.restContainer{
  margin-top: 100px;
  height: 900px;
}
.restMiniContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restCardContainer{
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  width: 380px;
  height: 280px;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}
.restTitle{
  font-size: 50px;
  font-family: Agbalumo;
  margin-bottom: 30px;
}
.restHeader{
  margin-left: 50px;
  margin-bottom: 30px;
}
.restImg{
  width: 100%;
  height: 220px;
  border-radius: 20px;
}
h4{
  padding: 10px;
}

.restaurantImgDiv{
  width: 100%;
  height: 350px;
  background-image: url('./images/img5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:  white;
}
.reastaurantMenuDiv h2{
  margin-left: 20px;
}
.reastaurantMenu{
  color: black;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
li{
  display: flex;
  margin: 0 20px;
  transition: none;
}
.advertising{
  display: flex;
}
.advertising1,.advertising2{
  width: 50%;
  height: 70px;
  background-color: 
  #e8f4f9;
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  margin: 20px;
  font-weight: bold;
  padding: 10px;
  color: #009de0;
  font-size: 20px;
}
.menuFoodBox{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
 
}
.menuFood{
  display: flex;
  flex-wrap: wrap;
  color: #fbfbfb ;
}
.menuFoodCard{
  width: 400px;
  height: 150px;
  padding: 10px;
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  margin: 10px;
  cursor: pointer;
  display: flex;
  font-weight: bold;
}
input[type="number"] {
  width: 50px; 
  padding: 2px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  font-size: 16px;
}


input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);}

  form{
    color: black;
  }
  label{
    margin-right: 5px;
  }

  .foodSmallImg{
    width: 130px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .quantitebtn{
    background-color: #009de0;
    border: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

  }
  .checkoutContainer{
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .checkoutDiv{
    width: 90%;
    height: 400px;
    box-shadow: 0 0 2px 0.1px rgb(95, 92, 92);
    display: flex;
    justify-content: center;
  }
 .checkoutDetails{
  width: 70%;
 }
 .ordersTitle{
  padding: 20px;
 }
 .checkoutOrder{
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  padding: 20px;
  width: 30%;
 }
 .itemSubtotal,.deliveryFee,.totalSum{
  display: flex;
  justify-content: space-between;
 }
 .submitBtn{
  width: 90%;
  background-color: #009de0;
  border-radius: 10px;
  padding: 20px;
  color: white;
  border: none;
 }

 .orderCard{
  width: 95%;
  height: 150px;
  padding: 10px;
  box-shadow: 0 0 10px 1.2px rgb(95, 92, 92);
  margin: 10px;
  cursor: pointer;
  display: flex;
  font-weight: bold;
 }
 .orderDetail{
  width: 80%;
  padding: 20px 50px;

 }
 .orderSmallImg{
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
 }
 .price{
  color: #007bff;
 }
 .detail{
  display: flex;
  justify-content: space-between;
 }